name: CI/CD - Data Quality Deployment to Azure Databricks

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  databricks-ci-cd:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # ----------------------------
    # Install Databricks CLI
    # ----------------------------
    - name: Install Databricks CLI
      run: |
        curl -fsSL https://raw.githubusercontent.com/databricks/setup-cli/main/install.sh | bash
        databricks --version

    # ----------------------------
    # Run Tests
    # ----------------------------
    - name: Run Pytest
      run: |
        pytest dqe_framework/test_table1.py --junitxml=report.xml

    - name: Upload Pytest Report
      uses: actions/upload-artifact@v4
      with:
        name: pytest-report
        path: report.xml

    # ----------------------------
    # Veri
